/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Sidenav styles */
#sidenav {
    height: 100%;
    width: 60px; /* Initially only show icons */
    position: fixed;
    left: -2px; /* Initially hidden */
    background-color: #000000; /* Slightly lighter background */
    overflow-x: hidden;
    transition: 0.3s ease;
    padding-top: 0px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    z-index: 1;
    
}

#sidenav.open {
    width: 250px; /* Width when expanded */
    left: 0;
}

#sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 18px; /* Font size for icons and text */
    color: #ddd;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

#sidenav a .icon {
    font-size: 24px; /* Size of icons */
    margin-right: 10px;
    transition: margin-right 0.3s ease;
}

#sidenav a i {
    display: flex;
    justify-content: center;
}

#sidenav a .text {
    display: none; /* Hide text initially */
}

#sidenav.open a .text {
    display: inline; /* Show text when expanded */
}

#sidenav a:hover, #sidenav a.active {
    color: #fff;
    background-color: #575757; /* Highlight background on hover */
}

#sidenav .closebtn {
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

/* Animation for open and close button */
.openbtn {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    border: none;
    background: none;
}

#main {
    transition: margin-left .3s ease;
    padding: 16px;
    margin-left: 0;
}

#app {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    transition: margin-left .3s ease;
    background-color: #000;
    color: #8b11f2;
    padding: 15px;
    position: relative;
}

header h1 {
    margin: 0;
    margin-left: 50px;
    display: inline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c0e3ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 16px;}
}